#form{
    width: 50%;
    border: 1px solid #7777;
    border-radius: 25px;
    background-color: #ECF0F1;
    text-align: center;
    margin: auto;
}

input:focus,
textarea:focus{
    background-color:#F9EBEA;
}

table,
td,
th
{
   border: 1px solid rgb(104, 102, 102);
   border-collapse: collapse;
   background-color: #FEF9E7;
   font-size: 20px;
   text-align: center;
   padding: 10px;

}